@font-face {
    font-family:'LatoBold';
    src: url('Lato Bold.eot');
	src: url('../fonts/Lato Bold.eot') format('embedded-opentype'),
		url('../fonts/Lato Bold.woff2') format('woff2'),
		url('../fonts/Lato Bold.woff') format('woff'),
		url('../fonts/Lato Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FEFF;
}
@font-face {
    font-family:'LatoHeavy';
    src: url('../fonts/Lato Heavy.eot');
	src: url('../fonts/Lato Heavy-1.eot') format('embedded-opentype'),
		url('../fonts/Lato Heavy.woff2') format('woff2'),
		url('../fonts/Lato Heavy.woff') format('woff'),
		url('../fonts/Lato Heavy.svg') format('svg');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FEFF;
}

@font-face {
    font-family:'LatoLight';
    src: url('../fonts/Lato Light.eot');
	src: url('../fonts/Lato Light-1.eot') format('embedded-opentype'),
		url('../fonts/Lato Light.woff2') format('woff2'),
		url('../fonts/Lato Light.woff') format('woff'),
		url('../fonts/Lato Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FEFF;
}
@font-face {
    font-family:'LatoRegular';
    src: url('../fonts/Lato Regular.eot');
	src: url('../fonts/Lato Regular-1.eot') format('embedded-opentype'),
		url('../fonts/Lato Regular.woff2') format('woff2'),
		url('../fonts/Lato Regular.woff') format('woff'),
		url('../fonts/Lato Regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FEFF;
}
@font-face {
    font-family:'RalewayHeavy';
    src: url('../fonts/Raleway Heavy.eot');
	src: url('../fonts/Raleway Heavy-1.eot') format('embedded-opentype'),
		url('../fonts/Raleway Heavy.woff2') format('woff2'),
		url('../fonts/Raleway Heavy.woff') format('woff'),
		url('../fonts/Raleway Heavy.svg') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-FB06;
}
@font-face {
    font-family:'RalewayLight';
    src: url('../fonts/Raleway Light.eot');
	src: url('../fonts/Raleway Light-1.eot') format('embedded-opentype'),
		url('../fonts/Raleway Light.woff2') format('woff2'),
		url('../fonts/Raleway Light.woff') format('woff'),
		url('../fonts/Raleway Light.svg') format('svg');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB06;
}
@font-face {
    font-family:'LatoBlack';
    src: url('../fonts/Lato Black.eot');
	src: url('../fonts/Lato Black-1.eot') format('embedded-opentype'),
		url('../fonts/Lato Black.woff2') format('woff2'),
		url('../fonts/Lato Black.woff') format('woff'),
		url('../fonts/Lato Black.svg') format('svg');
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FEFF;
}
@font-face {
    font-family:'Raleway';
    src: url('../fonts/Raleway.eot');
	src: url('../fonts/Raleway-1.eot') format('embedded-opentype'),
		url('../fonts/Raleway.woff2') format('woff2'),
		url('../fonts/Raleway.woff') format('woff'),
		url('../fonts/Raleway.svg') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB06;
}
@font-face {
    font-family:'RalewayBold';
    src: url('Raleway Bold.eot');
	src: url('../fonts/Raleway Bold.eot') format('embedded-opentype'),
		url('../fonts/Raleway Bold.woff2') format('woff2'),
		url('../fonts/Raleway Bold.woff') format('woff'),
		url('../fonts/Raleway Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB06;
}
@font-face {
    font-family:'RalewaySemiBoldy';
    src: url('../fonts/Raleway SemiBold.eot');
	src: url('../fonts/Raleway SemiBold-1.eot') format('embedded-opentype'),
		url('../fonts/Raleway SemiBold.woff2') format('woff2'),
		url('../fonts/Raleway SemiBold.woff') format('woff'),
		url('../fonts/Raleway SemiBold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FE;
}
@font-face {
    font-family:'OpenSansSemibold';
    src: url('../fonts/Open Sans Semibold.eot');
	src: url('../fonts/Open Sans Semibold-1.eot') format('embedded-opentype'),
		url('../fonts/Open Sans Semibold.woff2') format('woff2'),
		url('../fonts/Open Sans Semibold.woff') format('woff'),
		url('../fonts/Open Sans Semibold.svg') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FFFD;
}
@font-face {
    font-family:'OpenSansRegular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular-1.eot') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.svg#OpenSansSemibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FFFD;
}

@font-face {
    font-family:'OpenSansBold';
    src: url('../fonts/Open Sans Bold.eot');
	src: url('../fonts/Open Sans Bold-1.eot') format('embedded-opentype'),
		url('../fonts/Open Sans Bold.woff2') format('woff2'),
		url('../fonts/Open Sans Bold.woff') format('woff'),
		url('../fonts/Open Sans Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FFFD;
}

@font-face {
    font-family:'RalewayThin';
    src: url('../fonts/Raleway Thin.eot');
	src: url('../fonts/Raleway Thin-1.eot') format('embedded-opentype'),
		url('../fonts/Raleway Thin.woff2') format('woff2'),
		url('../fonts/Raleway Thin.woff') format('woff'),
		url('../fonts/Raleway Thin.svg') format('svg');
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+000D-FB06;
}
@font-face {
    font-family:'RalewayExtraBold';
    src: url('../fonts/Raleway ExtraBold.eot');
	src: url('../fonts/Raleway ExtraBold-1.eot') format('embedded-opentype'),
		url('../fonts/Raleway ExtraBold.woff2') format('woff2'),
		url('../fonts/Raleway ExtraBold.woff') format('woff'),
		url('../fonts/Raleway ExtraBold.svg') format('svg');
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB06;
}
